{% extends 'layout.html' %}
{% block content %}	
<div class="content-section">
    {% if current_user.is_authenticated %}
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username  }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <form action="/post" method="post">
            <div class="todo-text-and-btn">
                <div class="add-todo-text-field">
                    <textarea type="text" rows="1" cols="10" class="form-control" id="title" name="title" placeholder="Enter your To Do item here..."></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-info add-btn">Add</button>
                </div>
                <br>
            </div>
        </form>
        <article class="media content-section">
            <div class="media-body">
                <div class='todo-header mb-2'>
                    <h2 class="article-title">To Do</h2>
                </div>
                {% for post in posts %}
                    {% if post.complete is false %}
                        <div class="article-metadata d-flex" id="todo-container">
                            <a href="/complete/{{ post.id }}">
                                <button class="complete-btn"></button>
                            </a>
                            <div class="post-text-del-container">
                                <div class="post-text-container">
                                    <span class="mr-2 article-content">{{ post.title }}</span>
                                </div>
                                <div class="input-group delete-btn-container">
                                    <a href="/delete/{{ post.id }}" class="btn-close"></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </article>
        {% for post in posts %}
            {% if post.complete is true %}
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title">Completed</h2>
                        <div class="article-metadata d-flex" id="todo-container">
                            <a href="/complete/{{ post.id }}">
                                <button class="complete-btn"></button>
                            </a>
                            <div class="post-text-del-container">
                                <div class="post-text-container">
                                    <span class="mr-2 article-content line">{{ post.title }}</span>
                                </div>
                                <div class="input-group delete-btn-container">
                                    <a href="/delete/{{ post.id }}" class="btn-close"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    {% else %}
        <div>
            <h3>Please Login/Register to access your very own To Do list!</h3>
        </div>
    {% endif %}
</div>
{% endblock content %}