{% extends 'layout.html' %}
{% block content %}	
    <article class="media content-section">
        <div class="media-body">
            <div class='todo-header mb-2'>
                <h2 class="article-title">To Do</h2>
            </div>
            {% for post in posts %}
            <div class="article-metadata d-flex justify-content-between">
                <span class="mr-2 article-content">{{ post.content }}</span>
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">Completed</h2>
            {% for completed in completeds %}
                <div class="article-metadata d-flex justify-content-between">
                    <span class="mr-2 article-content">{{ completed.content }}</span>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </article>
{% endblock content %}