{% extends 'layout.html' %}
{% block content %}	
<form action="/post" method="post">
  <div class="form-group">
    <div class="todo-form-title-btn-container">
      <label for="title">To Do Title</label>
      <div class="form-group" id='add-item-btn'>
        <button type="submit" class="btn btn-outline-info">Add Item</button>
      </div>
    </div>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter your To Do item here..."><br>
  </div>
</form>
{% endblock content %}