body {
  background: #e6e5e5;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-purp {
  background-color: #8159aa;
}

.site-header .navbar-nav .nav-link {
  color: #d0d0d0;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 40px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.add-btn {
  margin-left: 20px;
}

.add-todo-text-field {
  width: 100%;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #8159aa;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.todo-header {
  display: flex;
  justify-content: space-between;
}

.btn-info{
  color: #fff;
  background-color: #8159aa;
  border-color: #8159aa;
}

.btn-info:hover{
  color: #fff;
  background-color: #8159aa;
  border-color: #8159aa;
}

.btn-outline-info {
  color: #8159aa;
  background-color: #fff;
  border-color: #c8c8c8;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #8159aa;
  border-color: #fff;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
}



.complete-btn {
  margin: 0 15px 5px 0;
  height: 16px;
  border-radius: 30px;
}

.post-text-del-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.input-group {
  justify-content: flex-end;
}

.line {
  text-decoration: line-through;
}

.todo-text-and-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#title {
  width: 100%;
}

.todo-completed-title {
  border-bottom: 1px solid #b6b4b4;
}

.welcome-text {
  text-align: center;
  margin-bottom: 0;
}

p.welcome-text {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.adv-feat-text-area {
  width: 100%;
  color: #636464;
  border: solid 1px rgba(0, 0, 0, .25);
}

.list-group-item {
  text-align: center;
}

.adv-feat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-btn {
  width: 50%;
  margin: 5px 0;
}

.adv-feat-return-field {
  background-color: #fff;
  color: #636464;
  text-align: center;
  overflow-wrap: normal;
  vertical-align: middle;
  border: solid 1px rgba(0, 0, 0, .25);
  border-radius: 5px;
  width: 100%;
  min-height: 28px;
  max-height: fit-content;
}

.adv-feat-response-text {
  /* overflow: auto; */
  color: #838383;
}